@tailwind base;
@tailwind components;
@tailwind utilities;

$brown-color: #59443f;

$brown-lite-color: #c3bab3;

$brown-bg-color: #faf9f7;

$orange-color: #ffc59f;

$white-color: #fff;

$gray-bg-color:#FBF8F8;

.container {
  margin: 0 auto;
}
